<link rel="stylesheet" href="~/Content/stylestxartela.css">
<title>Inserta tus datos</title>
@model IEnumerable<Jomial_Final.Models.Hotel>
<header id="myHeader">
    <nav class="navbar navbar bg justify-content-between">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Imagenes/logo.png"></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
    </nav>
</header>
@using (Html.BeginForm("Book", "Bilatu"))
{
    @Html.AntiForgeryToken()

<form>
    <div class="handia">
        <div class="login-box">
            <h2>Reserva tu Habitacion</h2>

            <div class="user-box">
                <input type="text" minlength="8" maxlength="8" name="txartel_zenbakia" required="">
                <label>Numero de tarjeta</label>
            </div>
            <div class="user-box">
                <input type="text" name="txartel_titularra" required="">
                <label>Titular de la tarjeta</label>
            </div>
            <div class="user-box">
                <input type="text" name="txartel_iraunginpena" required="">
                <label>Fecha de caducidad</label>
            </div>
            <div class="user-box">
                <input type="number" name="txartel_cvv" required="">
                <label>CCV</label>
            </div>

            <div class="user-box">
                <input type="email" name="erabiltzailea_emaila" required="">
                <label>Emaila</label>
            </div>
            <a href="">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <button type="submit">Adelante</button>
            </a>

        </div>
    </div>
    <div class="handia">
        <div class="login-box2">
            <h2>Informacion de tu Reserva</h2>
         
                <div class="user-box">
                    <h5> <input readonly type="text" class="other-input" value="Hotel : @ViewData["hotel_izena"]" name="hotel_izena" id="mytext" required> </h5>
                    <hr>
                    <h5> <input readonly type="text" class="other-input" value="Fecha de entrada : @ViewData["dataIn"]" name="hasiera_data" id="mytext1" required> </h5>
                    <hr>
                    <h5> <input readonly type="text" class="other-input" value="Fecha de salida : @ViewData["dataOut"]" name="amaiera_data" id="mytext2" required> </h5>
                    <hr>
                    <h5> <input readonly type="text" class="other-input" value="Huespedes : @ViewData["huespe"]" required> </h5>
                    <hr>
                    <h5> <input readonly type="text" class="other-input" value="Precio (€) : @ViewData["price"]" name="prezioTotala" id="mytext3" required> </h5>

                </div>
          
        </div>
    </div>
</form>
}
<script type="text/javascript">
    window.onscroll = function () { myFunction() };

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }

</script>
