<link rel="stylesheet" href="~/Content/stylesBook.css">
<title>Completa tu Reserva</title>
@model IEnumerable<Jomial_Final.Models.Errenta>
<header id="myHeader">
    <nav class="navbar navbar bg justify-content-between">
        <a class="navbar-brand" href="@Url.Action("IndexLog", "Home")"><img src="~/Imagenes/logo.png"></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")">Cerrar Sesion</a>
            </li>
        </ul>
    </nav>
</header>
<div class="mensajea">
    <h1>
        SE HA COMPLETADO TU RESERVA
    </h1><br>
    <h4>Gracias por confiar en nosotros</h4>
</div>
@foreach (var item in Model)
{
    <div class="pricing-box-container">
        <div class="pricing-box text-center">
            <h5>@Html.DisplayFor(modelItem => item.hotel_izena)</h5>
            <p class="price"><sup>€</sup>@Html.DisplayFor(modelItem => item.prezio_total)<sub>/noche</sub></p>
            <ul class="features-list">
                <li><strong>Fecha de entrada: </strong> @Html.DisplayFor(modelItem => item.hasiera_data)</li>
                <li><strong>Fecha de salida: </strong>  @Html.DisplayFor(modelItem => item.amaiera_data)</li>
                <li><strong>Correo electronico: </strong> @Html.DisplayFor(modelItem => item.emaila)</li>
            </ul>

        </div>
    </div>
}

